
section.case-study-hero {
padding: 5rem 0 5rem 4.66666666667%;
margin: 1rem 0 5rem;
}

section.case-study-hero-images {
  padding: 5rem 0 15rem 4.66666666667%;
  margin: 1rem 0 5rem
}

@media (min-width: 550px) {
.case-study-body {
  margin-left: 13.3333333333%;
  margin-right: 13.3333333333%;
  }
}

@media (max-width: 350px) {
  .case-study-body {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.case-study-section-grey {
  background-color: rgba(95,105,119,.1);
  padding: 5rem 0 10rem;
}

.case-study-section-black {
  background-color: rgba(13,15,11,.1);
  padding: 5rem 0 10rem;
}

.case-study-section-white {
  background-color: #ffffff;
  padding: 5rem 0 10rem;
}

.case-study-subsection {
  margin: 3rem 0rem 6rem;
  padding: 2rem 0rem 2rem;
}

.case-study-sub-subsection {
  margin: 3rem 0 6rem;
}

.case-study-sub-subsection-bottom {
  margin: 0 0 6rem;
}

.case-study-full-column {
  margin: 0 10px 0;
}


.spotlight {
  background-color: rgba(252,203,74,.5);
  padding: 5rem 0 10rem;
}

/*
img.u-full-width {
  min-width: 200px;
}


.icon_four_column {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}

.icon_text {
  display: block;
  margin: 10px;
  padding: 0px;

}
*/
.icon {
  height: 8rem;
  padding: 1rem;
  display: block;
  margin: auto;
}

.icon-caption {
  text-align: center;
}






/*
table.small.dark_yellow {
  background-color: rgb(252, 203, 74);
}

table.small.row_title {

}
*/
