.case-study-body {
  margin-left: 22%;
  margin-right: 22%;
}

.icon_four_column {
  margin-left: 8.66666666667%;
  margin-right: 8.66666666667%;
}

.icon_text {
  display: block;
  margin: auto;
  padding: auto;

}
.icon {
  height: 8rem;
  padding: 2rem;
  display: block;
  margin: auto;
}

table.small {
  margin-left: 17.3333333333%;
  margin-right: 17.3333333333%;
  padding: 1rem;
  border-style: solid;
  border-width: thin;
  border-color: rgb(13,15,11);
}
/*
table.small.dark_yellow {
  background-color: rgb(252, 203, 74);
}

table.small.row_title {

}
*/
