
.hero {
  margin-left: 17.3333333333%;
  margin-top: 10%;
  margin-bottom: 20%
}

.case-studies {
  margin: 0%, 2.33%, 0%;
  background-color: rgba(188,194,202,.2);

}

.section-title {
  padding: 30px, 0px, 20px;
}

.case-study-preview {
  padding: 3em, 0em, 3em;
}

.display_image {
  height: 300px;
  width: 620px;
  display: block;
  margin: auto
}

@media (min-width: 950px) and (max-width: 1100px) {
  .display_image {
  height: 255px;
  width: 527px;
}
}

@media (min-width: 350px) and (max-width: 949px) {
  .display_image {
  height: 180px;
  width: 372px;
  align-items: baseline;
}
}

.about-me-body {
  margin-left: 17.3333333333%;
}

.about-me-contact {
  list-style-type: none;
   text-align: center;
   display:run-in;

}
.about-me-links {
  padding: 0%;
  margin: 0%;
}
